
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
}
.inb {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding-top: 1px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	width: 100%;
	min-width: 1000px;
	height: 370px;
	background: #3a3a3b;
	position: relative;
}
.header:before {
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #FF9000;
}
.h_logo {
	display: block;
	width: 300px;
	height: 191px;
	background: url('i/logo.png') no-repeat;
	float: left;
	margin: 66px 0 54px;
	text-indent: -2989px;
}
.h_info {
	float: right;
	width: 675px;
	margin: 115px 0 0;
}
.h_desc {
	font-size: 36px;
	font-weight: bold;
	line-height: 40px;
	color: #FF9000;
	text-transform: uppercase;
	letter-spacing: -0.8px;
	margin-bottom: 15px;
}
.h_desc span {
	color: #FFF;
}
.h_phone {
	overflow: hidden;
	height: 42px;
}
.h_phone-head {
	float: left;
	font-size: 22px;
	font-weight: bold;
	line-height: 42px;
	color: #FF9000;
	text-transform: uppercase;
	
}
.h_phone-list {
	list-style: none;
	float: right;
	text-align: right;
	font-size: 0;
}
.h_phone-list li {
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
	line-height: 42px;
	color: #FFF;
	padding-left: 60px;
}
.h_phone-list li.mts {
	background: url('i/bg-mts.png') left center no-repeat;
}
.h_phone-list li.life {
	background: url('i/bg-life.png') left center no-repeat;
	padding-left: 85px;
	margin-left: 20px;
}

.h_nav {
	width: 100%;
	min-width: 1000px;
	height: 54px;
	background: #ff9000;
}
.h_nav ul {
	width: 1010px;
	margin: auto;
	text-align: center;
	list-style: none;
	font-size: 0;
}
.h_nav li {
	display: inline-block;
	margin: 0 10px;
}
.h_nav a {
	font-size: 15px;
	font-weight: bold;
	line-height: 54px;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
}



/* Middle
-----------------------------------------------------------------------------*/
.content {
}


.reconstr {
	text-align: center;
	font-size: 38px;
	line-height: 54px;
	margin: 70px 0;
}
.reconstr span {
	display: block;
	font-weight: bold;
	font-size: 42px;
	margin-bottom: 15px;
}




/* Top ----------------------------- */
.c_top {
	width: 100%;
	min-width: 1000px;
	height: 360px;
	background: url('i/bg-top.jpg') center top no-repeat;
	text-align: center;
	font-size: 0;
}
.c_top .inb {
	padding-top: 34px;
}
.c_top-item {
	display: inline-block;
	width: 310px;
	height: 295px;
	margin: 0 10px;
}
.c_top-item__head {
	display: block;
	width: 271px;
	height: 42px;
	margin: 0 0 5px 35px;
}
.c_top-item__icon {
	display: block;
	width: 310px;
	height: 245px;
}

.odnok .c_top-item__head {background: url('i/bg-top-head-odnok.png') 0 0 no-repeat;}
.odnok:hover .c_top-item__head {background: url('i/bg-top-head-odnok.png') 0 -42px no-repeat;}
.odnok .c_top-item__icon {background: url('i/bg-top-odnok.png') no-repeat;}
.odnok:hover .c_top-item__icon {background: url('i/bg-top-odnok.png') 0 -245px no-repeat;}

.dvok .c_top-item__head {background: url('i/bg-top-head-dvok.png') 0 0 no-repeat;}
.dvok:hover .c_top-item__head {background: url('i/bg-top-head-dvok.png') 0 -42px no-repeat;}
.dvok .c_top-item__icon {background: url('i/bg-top-dvok.png') no-repeat;}
.dvok:hover .c_top-item__icon {background: url('i/bg-top-dvok.png') 0 -245px no-repeat;}

.trik .c_top-item__head {background: url('i/bg-top-head-trik.png') 0 0 no-repeat;}
.trik:hover .c_top-item__head {background: url('i/bg-top-head-trik.png') 0 -42px no-repeat;}
.trik .c_top-item__icon {background: url('i/bg-top-trik.png') no-repeat;}
.trik:hover .c_top-item__icon {background: url('i/bg-top-trik.png') 0 -245px no-repeat;}






/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 100%;
	min-width: 1000px;
	height: 220px;
	background: #3a3a3b;
	position: relative;
}
.footer:before {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #FF9000;
}